<header>
  <div class="inner">
    <h1><a href="/">{{ site.title }}</a></h1>
    <h2>{{ site.subtitle }}</h2>
    <a href="https://github.com/oert/live.oert.org" class="button" target="_blank"><small>View project on</small>GitHub</a>
    <ul id='langsel'>
      <li id='lang-es'><a href="/es/{% if page.trans_es %}{{ page.trans_es }}.html{% endif %}"><img src='/assets/images/flags/es.png'>Español</a></li>
      <li id='lang-en'><a href="/en-US/{% if page['trans_en-US'] %}{{ page['trans_en-US'] }}.html {% endif %}"><img src='/assets/images/flags/en.png'>English</a></li>
    </ul>
  </div>
</header>
