{% include html-start.html %}

	{% include header-masthead.html %}


    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          <p>{{ content }}</p>
        </section>

        <aside id="sidebar">
<!--          <a href="" class="button">
            <small>Download book as</small>
            PDF
          </a> -->
          <p>This book is free culture, hosted on GitHub. Corrections, additions and improvements are very welcome - <a href="https://github.com/oert/live.oert.org#liveoertorg">learn how</a></p>
          <p><a class="editthispage" href="https://github.com/oert/live.oert.org/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">Edit this page</a></p>
        </aside>

      </div>
    </div>

{% include footer.html %}

{% include html-end.html %}
